.leaflet-container{
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}

    .cover {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
    }
.perfil{
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }
